*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
display:flex;
background:#f3f5f9;
}

.sidebar{
width:250px;
background:#1e293b;
color:white;
height:100vh;
padding:20px;
}

.sidebar h2{
margin-bottom:30px;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:12px;
margin:6px 0;
background:#334155;
border-radius:8px;
cursor:pointer;
}

.sidebar li:hover{
background:#2563eb;
}

.main{
flex:1;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

header input{
padding:10px;
width:250px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:15px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 2px 8px rgba(0,0,0,.1);
}

.table{
margin-top:30px;
background:white;
padding:20px;
border-radius:12px;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:12px;
border-bottom:1px solid #ddd;
text-align:left;
}
.form{

margin-top:30px;

background:white;

padding:20px;

border-radius:10px;

}

.form input{

width:100%;

padding:10px;

margin:10px 0;

}

.form button{

padding:10px 20px;

background:#2563eb;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

}
.charts{

margin-top:30px;

background:white;

padding:20px;

border-radius:12px;

}

.chartBox{

height:450px;

}
.filter-box{

background:white;

padding:20px;

margin-top:20px;

border-radius:12px;

}


.filter-box input,
.filter-box select{

padding:10px;

margin:5px;

}


.kpi{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:15px;

margin-top:20px;

}
